{% block title %}<title>Admin Home Page</title>{% endblock %}
{% block header %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="page_type" content="np-template-header-footer-from-plugin">
        <!-- Flask method for static URLs -->
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Proxima+Nova|Futura+PT">
        <meta property="og:title" content="Admin_Home">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#478ac9">
        <meta property="og:url" content="index.html">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminBase.css') }}" media="screen">
{% endblock %}
{% block page_content %}
<body>
    <div id="mySideBar" class="sidenav">
        <h1>WOO U</h1>
        <h2>SSP</h2>
        <i style="background-image: url('../static/images/lock.png');"></i>
        <p>First Name Last Name</p>
        <p>User</p>
        <a href="#", style="background-image: url('../static/images/lock.png');">User Authentication</a>
        <a href="#">Course</a>
        <a href="#">Section</a>
        <a href="#", style="background-image: url('../static/images/lock.png');">Sign Out</a>
    </div>
</body>
 {% endblock %}