{% import "bootstrap/wtf.html" as wtf %}
{% block title %}<title>Woosamotta U | Login</title>{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/HomeLogin.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
{% endblock %}
{% block page_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" id="sec-93e4" data-image-width="1920" data-image-height="1080">
            <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
                <div class="u-clearfix u-expanded-width-lg u-expanded-width-xl u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-1">
                                    <div class="u-container-style u-grey-10 u-group u-opacity u-opacity-95 u-radius-27 u-shape-round u-group-1">
                                        <div class="u-container-layout u-container-layout-2" style="margin-top: -109px; bottom: -8px;">
                                            <!-- Need this block -->
                                            {{ wtf.quick_form(form) }}
                                                <p>No account? &emsp; &emsp;
                                                <a href="{{ url_for('register') }}" >Sign Up Here</a>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-3" style="position: relative;">
                                    <h1 class="u-align-center u-text u-text-3"> <span style="color: white; font-weight: 400; font-size: 3.5rem;">Woosamotta U</span> <br> </h1>
                                    <h4 class="u-align-center u-text u-text-4"> <span style="font-weight: 400; font-size: 1.875rem;">Student Schedule Planner </span> <br> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
